{% include ('sidenav.html') %}
{% include ('base.html') %}
{% include ('navbar.html') %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='assets/css/new-lead.css') }}" rel="stylesheet" />
    <title>New Lead</title>
</head>

<body>
    <div class="container" style="margin-top: 2rem; width: 60%; margin-left: auto; margin-right: auto;">
        <h6 style="text-align: center;">Add New Lead</h6>
        <div class="text-center">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <p style="color: rgb(0, 140, 21); font-weight: bold;">{{ message }}</p>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
        </div>
        <form action="{{url_for ('new_lead')}}" method="POST">
            {% if current_user.role == 'admin' %}
            <h6 class="mb-1 leading-normal text-sm text-slate-700">Choose employee:</h6>
            <select class="input-field" name="assigned" required>
                <option value="" disabled selected>Choose Employee</option>
                {% for employee in employees %}
                <option value="{{employee[1]}} {{employee[2]}}">{{employee[1]}} {{employee[2]}}</option>
                {% endfor %}
            </select>
            {% endif %}
            <h6 class="mb-1 leading-normal text-sm text-slate-700">Name:</h6>
            <input type="text" placeholder="Name" class="input-field" name="name" required>
            <h6 class="mb-1 leading-normal text-sm text-slate-700">Number:</h6>
            <input type="text" placeholder="Number" class="input-field" name="number" required>
            <h6 class="mb-1 leading-normal text-sm text-slate-700">E-Mail:</h6>
            <input type="text" placeholder="E-Mail" class="input-field" name="email">
            <h6 class="mb-1 leading-normal text-sm text-slate-700">Area:</h6>
            <input type="text" placeholder="Area" class="input-field" name="area" required>
            <h6 class="mb-1 leading-normal text-sm text-slate-700">Lead Status:</h6>
            <select class="input-field" name="status" required>
                <option value="" disabled selected>Status</option>
                <option value="new">New</option>
                <option value="uncontacted">Uncontacted</option>
                <option value="no response">Contacted No Response</option>
                <option value="no answer">No Answer</option>
                <option value="cancelled">Cancelled</option>
            </select>
            <h6 class="mb-1 leading-normal text-sm text-slate-700">Services:</h6>
            <input type="text" placeholder="Services" class="input-field" name="services" required>
            <h6 class="mb-1 leading-normal text-sm text-slate-700">Comments:</h6>
            <textarea placeholder="Comments" class="text-field" name="comments"
                style="width: 100%; border: 1px solid #ccc; padding: 0.5rem; margin-bottom: 1rem;"></textarea>
            

            <button class="inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all rounded-lg cursor-pointer bg-gradient-to-tl from-purple-700 to-pink-500 leading-pro text-xs ease-soft-in tracking-tight-soft shadow-soft-md bg-150 bg-x-25 hover:scale-102 active:opacity-85 hover:shadow-soft-xs">Add Lead</button>
        </form>
    </div>



</body>

</html>